.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.np-you-pin {
  position: sticky;
  display: inline-block;
  width: 50px;
  height: 50px;
}

/* shadow */
.np-you-pin::after {
  content: "";
  position: sticky;
  background-color: #72a3ec;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
  width: 30px;
  height: 20px;
  border-radius: 100%;
}

.np-you-pin::before {
  z-index: 9;
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 100% 0;
  box-shadow: 0px 0px 0px 2px rgb(250, 213, 29);
  animation: anm-SL-3-move 1s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-46deg);
  margin-top: 20px;
}

.np-you-pin:before,
.np-you-pin:after {
  position: absolute;
  content: "";
}

@keyframes anm-SL-3-move {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
